{% extends 'base.html' %}
{% block content %}
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Train Name: {{train.name}}</h2>
          <p>Train Number: {{train.train_number}}</p>
          <p>Source: {{train.source}}</p>
          <p>Destination: {{train.destination}}</p>
          <p>Departure Time: {{train.departure_time}}</p>
          <p>Arrival Time: {{train.arrival_time}}</p>
          <p>Price: {{train.price}}</p>
          <div class="card-actions justify-end">
          </div>
        </div>
      </div>

{% endblock %}