<!DOCTYPE html>
<html lang="en">
    <form method="post" action="newpage.html" onsubmit=functionX() id="form">
        
        <center>
            <h1>Student Registration</h1>
        </center>
        <body bgcolor="lightblue"></body>
        <center><label for="name">Name</label><br></center>
        <center><input type="text" id="name" name="name"><br></center>
        <center><label for="studentid">Student ID</label><br></center>
        <center><input type="text" id="studentid" name="studentid"><br></center>
        <center><label for="email">Email</label><br></center>
        <center><input type="email" id="email" name="email"><br></center>
        <center><label for="college">College</label><br></center>
        <center><input type="text" id="college" name="college"><br></center>
            <center><label for="Dept">Department</label><br></center>
                <center><select id="Dept" name="Dept"></center>
            <option value="CSE">cse</option>
            <option value="IT">it</option>
            <option value="EEE">eee</option>
            <option value="ECE">ece</option>
            <option value="CIVIL">civil</option>
            <option value="MECH">mech</option>
        </select>
        <center><label for="Year">Year</label><br></center>
            <center><select id="Year" name="Year"><br></center>
            <option value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th</option>
        </select>
        <center><label for="gender">Gender</label><br></center>
        <center><input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label></center>
        <center><input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label></center>

        <center><input type="submit" value="Submit"></center>
    </form>