<!DOCTYPE html>
<html lang="en">
    <style>
        .button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 75px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: hsl(0, 95%, 34%);
  border: none;
  color: white;
  padding: 75px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
}
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    <h1 align="center">STUDENT ATTENDENCE MANAGEMENT SYSTEM</h1>

    <a href="/attendenceapp/staff"><button class="button">STAFF</button></a> <br><br>
    <a href="/attendenceapp/staff2/"><button class="button2">STUDENT</button></a><br><br>

</body>
</html>